{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('visualizar') }}" method="post">
  <fieldset>
    <div class="form-group">
      <label for="artista">Artista</label>
      <input type="text" id="artista" name="artista" class="form-control" value="{{ discogs_info.artista }}">
    </div>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" id="titulo" name="titulo" class="form-control" value="{{ discogs_info.titulo }}">
    </div>
    <div class="form-group">
      <label for="pais">País</label>
      <input type="text" id="pais" name="pais" class="form-control" value="{{ discogs_info.pais }}">
    </div>
    {% if vinil %}
    <div class="form-group">
      <label for="gravadora">Gravadora</label>
      <input type="text" id="gravadora" name="gravadora" class="form-control" value="{{ discogs_info.selo }}">
    </div>
    <div class="form-group">
      <label for="ano">Ano</label>
      <input type="text" id="ano" name="ano" class="form-control" value="{{ discogs_info.ano }}">
    </div>
    <div class="form-group">
      <label for="desc">Descrição</label>
      <textarea class="form-control" name="desc" id="desc" cols="40" rows="{{ discogs_info.tracks_len }}">{{ discogs_info.faixas }}</textarea>
    </div>
    {% elif not vinil %}
    <div class="form-group">
      <label for="desc">Informações</label>
      <textarea class="form-control" name="desc" id="desc" cols="40" rows="{{ discogs_info.tracks_len }}">{{ discogs_info.info }}</textarea>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="estilo">Estilo</label>
      <select class="form-select form-control" aria-label="Default select example" name="estilo" id="estilo">
        <option selected>Escolha o estilo</option>
        <option>Blues - Jazz - Soul - Funk</option>
        <option>Classic Rock</option>
        <option>Country</option>
        <option>Heavy Metal</option>
        <option>Jovem Guarda</option>
        <option>MPB - Bossa - Instrumental</option>
        <option>Orquestral - Erudito - Classico</option>
        <option>Pop</option>
        <option>Pop Rock</option>
        <option>Progressive - Electronic - Psych - Folk</option>
        <option>Punk - Hardcor</option>
        <option>Reggae</option>
        <option>Rock Nacional</option>
        <option>Trilhas Sonoras</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    <a class="btn btn-danger" href="{{ url_for('index') }}">Cancelar</a>
  </fieldset>
</form>
{% endblock %}